/* mobile device responsive */
@media screen and (max-width: 425px) {
    nav,
    .nav-item-container,
    .banner-container,
    .online-game-cards {
        flex-direction: column;
        
    }
    .nav-item-container{
        gap: 24px;
    }
    .banner-container{
        width: 100%;
        margin: 96px auto;
        flex-direction: column-reverse; 
        padding: 20px; 
    }
    .banner-content{
        width: 100%;
        padding: 0px;
        margin-top: 10px;   
    }
    .banner-content>h2{  
        padding: 5px 0 0 25px;
    }
    .banner-content>.goat{
        padding-left: 6px;
    }
    .banner-content>p{
        font-size: 16px;
        padding-left: 15px;
    }
    .banner-content>button{
        margin: 0 0 10px 15px; 
    }
    .online-game-cards {
        width: 100%;
        padding-left: 30px;
    }
   
}
/* tablet device responsive */
@media screen and (max-width: 768px) {
    
    nav,
    .banner-container
     
    {
        flex-direction: column;
    }
    .banner-container{
        width: 100%;
        margin: 96px auto;
        flex-direction: column-reverse; 
        padding: 20px; 
        
    }
    .banner-content{
        width: 100%;
        padding: 0px;
        margin-top: 10px;   
    }
    .banner-content>h2{  
        padding: 5px 0 0 25px;
    }
    .banner-content>.goat{
        padding-left: 6px;
    }
    .banner-content>p{
        font-size: 16px;
        padding-left: 15px;
    }
    .banner-content>button{
        margin: 0 0 10px 15px; 
    }
    .banner-photo img {
        width: 80%;
        margin-left: 60px;
    }
    .online-game-cards {
        flex-wrap: wrap;
        
    }
      
}