/* mobile device responsive */
@media screen and (max-width: 425px) {
    nav,
    .nav-item-container,
    .banner-container,
    .gamer-banner,
    .online-cards,
    .play-instant-container
    {
        flex-direction: column;
        
    }
    .nav-item-container{
        gap: 24px;
    }
    .banner-container{
        width: 100%;
        margin: 96px auto;
        flex-direction: column-reverse; 
        padding: 20px; 
    }
    .banner-content{
        width: 100%;
        padding: 0;
        margin-top: 10px;  
        text-align: center;
    }
    .description{
        font-size: 14px;
        text-align: center;
    }
    .banner-content>h2{  
        font-size: 30px;
    }
    .banner-content>.goat{
        font-size: 70px;  
    }
    .banner-content>p{
        font-size: 14px;
    }
    .banner-content>button{
        margin-bottom: 10px;
    }
    .online-cards {
        width: 100%;
        padding-left: 30px;
    }
    .play-instant-container{
        margin-top: 40px;
        padding: 30px;
    }
    .play-instant-content{
        text-align: center;
    }
    .play-instant-content>h1{
        font-size: 30px;    
    } 
    .play-instant-photos{
        margin-top: 70px;
    }
    .play-instant-photos img {
        width: 70%;
    }
    .extra-add-photo {
        left: -1% ;
    }
    .gamer-banner{
        padding: 0;
        width: 100%;
    }
    .gamer-photo img{
        width: 100%;
    }
    .gamer-content{
        width: 100%;
    }
    .gamer-content{
        text-align: center;
    }
    .gamer-content>.gamer-title{
        font-size: 30px;
    }
    .gamer-content>.our-purpose{
        text-align: center;
        font-size: 18px;
        margin-top: 30px;
    }
     .gamer-content>.our-purpose>.unleash{
        font-size: 22px;
     }
     .overlay{
        width: 90%;
     }
     footer{
        width: 100%;
        padding: 0;
        
     }
     .list-item{
        margin-top: 5px;
        font-size: 10px;
        display: grid;
        row-gap: 10px;
        grid-template-columns: repeat(3,1fr);
     }
     .social-item{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
     }
     .policy-item{
        margin-top: 5px;
        font-size: 8px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
     }
     .copyright{
        font-size: 10px;
     }
     .icons-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
     }
     .icon{
        width: 100%;
     }

     .icon>img{
        width: 40px;
        height: 50px;
    }
     .icons-container>.icon>p{
        font-size: 7px;
     }
}

/* tablet device responsive */
@media screen and (max-width: 768px) {
    
    nav,
    .banner-container,
    .play-instant-container,
    .online-cards
    {
        flex-direction: column;
    }
    .banner-container{
        width: 100%;
        margin: 96px auto;
        flex-direction: column-reverse; 
        padding: 20px; 
        
    }
    .banner-content{
        width: 100%;
        padding: 0px;
        margin-top: 10px;   
    }
    .banner-content>h2{  
        padding: 5px 0 0 25px;
    }
    .banner-content>.goat{
        padding-left: 6px;
    }
    .banner-content>p{
        font-size: 16px;
        padding-left: 15px;
    }
    .banner-content>button{
        margin: 0 0 10px 15px; 
    }
    .banner-photo img {
        width: 80%;
        margin-left: 60px;
    }
    .online-game-cards {
        flex-wrap: wrap;  
    }
    .play-instant-container{
        margin-top: 40px;
        padding: 30px;
    }
    .play-instant-content{
        text-align: center;
    }
    .play-instant-photos{
        margin-top: 70px;
    }
    .play-instant-photos img {
        width: 70%;
    }
    .extra-add-photo {
        left: -1% ;
    }
    .gamer-banner{
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .gamer-photo{
        width: 80%;
    }
    .gamer-photo img{
        width: 100%;
    }
    .gamer-title{
        font-size:30px ;
    }
}